# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

Requirement already satisfied: scipy in /Users/maryramirez/opt/anaconda3/lib/python3.9/site-packages (1.7.3)
Collecting scipy
  Downloading scipy-1.9.0-cp39-cp39-macosx_12_0_universal2.macosx_10_9_x86_64.whl (58.4 MB)
     |████████████████████████████████| 58.4 MB 5.1 MB/s eta 0:00:012
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in /Users/maryramirez/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.21.5)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
Successfully installed scipy-1.9.0

In [200]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import ttest_1samp
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
ls

Salaries.csv         main Original.ipynb  main.ipynb

In [4]:
# Your code here:
data = pd.read_csv('Salaries.csv')

/var/folders/p_/v2yjf7kn4gz7xhk4xpgmlk7c0000gn/T/ipykernel_1180/3375109913.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:

In [6]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [7]:
# Your code here:

In [8]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [9]:
# Your code here

In [10]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [11]:
# Your code here

In [12]:
data.drop('Notes', axis=1, inplace=True)

In [13]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [14]:
# Your code here

In [15]:
data['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Agency            148654 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 13.6+ MB

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [17]:
data.dropna(axis=0,subset='Status',inplace=True)

In [18]:
# Your code here
data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [19]:
# Your code here

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [21]:
# Your code here

In [22]:
# numerical (float type) values = BasePay, OvertimePay, OtherPay, Benefits --> It is necessary to change the type
# data value= Year --> It is necessary to change the type
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [23]:
# Your code here
data['BasePay'] = data['BasePay'].astype(float, errors = 'raise')

In [24]:
data = data.astype({'OvertimePay':float,'OtherPay':float,'Benefits':float})

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [26]:
# Your code here

In [27]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [28]:
# Your code here

In [29]:
# I need to create a new column to store the result and after compare the total and the new column.
data['new_total'] = data['BasePay']+data['OvertimePay']+data['OtherPay']+data['Benefits']
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,new_total
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.10

In [30]:
data['new_total'] = data['new_total'] == data['TotalPayBenefits']
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,new_total
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True

What is the percetage of employees for which the previous assumption is not True?

In [31]:
# Your code here:

In [32]:
data['new_total'].value_counts(normalize=True)

True     0.737086
False    0.262914
Name: new_total, dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [33]:
data2 = data.copy()

In [34]:
# Your code here:

data.pivot_table(index= ['JobTitle'], values = ['EmployeeName'], aggfunc = {'EmployeeName':'count'})

                                EmployeeName
JobTitle
ACPO,JuvP, Juv Prob (SFERS)                1
ASR Senior Office Specialist              22
ASR-Office Assistant                      15
Account Clerk                             93
Accountant I                               2
...                                      ...
Wire Rope Cable Maint Sprv                 1
Worker's Comp Supervisor 1                 6
Worker's Compensation Adjuster            26
X-Ray Laboratory Aide                     35
Youth Comm Advisor                         1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [35]:
# Your code here: (compute the "Hourly_Wage")
data['Hourly_Wage'] = (data['TotalPayBenefits']/365)*(365/50)*(1/40)

In [36]:
data.head(40)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,new_total,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550
110536,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,False,207.883970
110537,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,True,200.535435
110538,110539,Harlan L Kelly-Jr,Executive Contract Employee,310161.02,0.00,0.00,88823.51,310161.02,398984.53,2014,San Francisco,FT,True,199.492265
110539,110540,Samson Lai,"Battalion Chief, Fire Suppress",179464.14,128685.99,27334.83,59876.90,335484.96,395361.86,2014,San Francisco,FT,False,197.680930
110540,110541,David L Franklin,Asst Chf of Dept (Fire Dept),201566.88,97907.38,29916.28,64599.59,329390.54,393990.13,2014,San Francisco,FT,True,196.995065
110541,110542,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",294000.18,0.00,0.00,85918.54,294000.18,379918.72,2014,San Francisco,FT,True,189.959360
110542,110543,Yifang Qian,Senior Physician Specialist,198874.01,0.00,112776.35,62947.63,311650.36,374597.99,2014,San Francisco,FT,True,187.298995
110543,110544,Richard L Corriea,Commander 3,184734.01,0.00,137409.09,51940.39,322143.10,374083.49,2014,San Francisco,PT,True,187.041745
110544,110545,Raymond A Guzman,Dep Chf of Dept (Fire Dept),260728.04,0.00,26761.80,82974.58,287489.84,370464.42,2014,San Francisco,FT,False,185.232210
110545,110546,Jose L Velo,"Battalion Chief, Fire Suppress",183333.82,100005.66,23760.13,61052.39,307099.61,368152.00,2014,San Francisco,FT,True,184.076000
110546,110547,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",177771.16,91547.61,36798.76,59664.91,306117.53,365782.44,2014,San Francisco,FT,False,182.891220
110547,110548,Roland Pickens,"Administrator, DPH",282619.96,0.00,0.00,82941.18,282619.96,365561.14,2014,San Francisco,FT,True,182.780570
110548,110549,Mark A Gonzales,Dep Chf of Dept (Fire Dept),260728.00,0.00,22933.73,81886.55,283661.73,365548.28,2014,San Francisco,FT,False,182.774140
110549,110550,Barbara A Garcia,Dept Head V,279839.22,0.00,2164.54,82884.27,282003.76,364888.03,2014,San Francisco,FT,False,182.444015
110550,110551,Edwin M Lee,Mayor,281537.17,0.00,0.00,83277.34,281537.17,364814.51,2014,San Francisco,FT,True,182.407255
110551,110552,Thomas A Siragusa,Asst Chf of Dept (Fire Dept),207437.76,67712.84,20743.71,64549.50,295894.31,360443.81,2014,San Francisco,FT,True,180.221905
110552,110553,Denise A Schmitt,Deputy Chief 3,268632.02,0.00,6192.08,80475.76,274824.10,355299.86,2014,San Francisco,FT,False,177.649930
110553,110554,Lyn Tomioka,Deputy Chief 3,268632.00,0.00,6192.08,80475.74,274824.08,355299.82,2014,San Francisco,FT,True,177.649910
110554,110555,Arthur W Kenney,Asst Chf of Dept (Fire Dept),207437.76,31868.28,49941.59,64549.50,289247.63,353797.13,2014,San Francisco,FT,True,176.898565
110555,110556,Greg B Pizarro,Asst Med Examiner,233386.01,10794.09,40515.00,66559.68,284695.10,351254.78,2014,San Francisco,FT,False,175.627390
110556,110557,Charlie Orkes,Deputy Chief 3,265729.53,0.00,6134.00,78447.40,271863.53,350310.93,2014,San Francisco,FT,False,175.155465
110557,110558,Susan Currin,"Adm, SFGH Medical Center",268946.02,0.00,0.00,80581.73,268946.02,349527.75,2014,San Francisco,FT,True,174.763875
110558,110559,Naomi M Kelly,Dept Head V,267914.01,0.00,0.00,80361.22,267914.01,348275.23,2014,San Francisco,FT,True,174.137615
110559,110560,Trent E Rhorer,Dept Head V,267914.00,0.00,0.00,79799.88,267914.00,347713.88,2014,San Francisco,FT,True,173.856940
110560,110561,Benjamin L Rosenfield,Controller,267914.00,0.00,0.00,79799.88,267914.00,347713.88,2014,San Francisco,FT,True,173.856940
110561,110562,Jay P Huish,Dept Head V,267914.00,0.00,0.00,79799.88,267914.00,347713.88,2014,San Francisco,FT,True,173.856940
110562,110563,Kevin M Burke,Asst Chf of Dept (Fire Dept),207437.76,38112.52,30767.56,66496.48,276317.84,342814.32,2014,San Francisco,FT,True,171.407160
110563,110564,Hector M Sainez,Deputy Chief 3,258957.00,0.00,6908.64,76330.35,265865.64,342195.99,2014,San Francisco,FT,True,171.097995
110564,110565,Marty A Ross,"Battalion Chief, Fire Suppress",177771.08,62671.16,39322.25,62074.06,279764.49,341838.55,2014,San Francisco,FT,True,170.919275
110565,110566,Lorrie A Kalos,"Battalion Chief, Fire Suppress",179464.20,62653.15,35768.93,60237.67,277886.28,338123.95,2014,San Francisco,FT,True,169.061975
110566,110567,Khairul A Ali,"Battalion Chief, Fire Suppress",179464.21,71337.03,26022.22,59815.78,276823.46,336639.24,2014,San Francisco,FT,True,168.319620
110567,110568,Ai Kyung Chung,Anesthetist,241036.02,1695.66,15839.30,73815.54,258570.98,332386.52,2014,San Francisco,FT,False,166.193260
110568,110569,Michael P Carlin,Dep Dir V,254578.48,0.00,0.00,77512.96,254578.48,332091.44,2014,San Francisco,FT,True,166.045720
110569,110570,Sharon Ferrigno,Deputy Chief 3,243339.02,0.00,16225.16,72403.46,259564.18,331967.64,2014,San Francisco,FT,True,165.983820
110570,110571,Victor H Wyrsch,"Battalion Chief, Fire Suppress",179464.20,62908.09,29118.60,58781.34,271490.89,330272.23,2014,San Francisco,FT,True,165.136115

In [37]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
groupby_hourly = data.groupby('Status')
groupby_hourly.mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,new_total,Hourly_Wage
Status,,,,,,,,,,
FT,123067.601728,91173.994327,8240.775871,4090.990855,35022.651762,103505.761053,138528.412815,2014.0,0.730993,69.264206
PT,138820.875451,31744.644286,1385.436235,2676.906106,10310.986689,35806.986627,46117.973316,2014.0,0.745708,23.058987

In [38]:
ft = data[data['Status']=='FT']
Hour = ft['Hourly_Wage']
Hour.mean()

69.264206407271

In [82]:
# ttest_1samp(sample, population_mean)
stat, pval = ttest_1samp(Hour, popmean = 75, alternative = "two-sided")

In [39]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [74]:
t_statistic = (np.mean(Hour) -75)/ (np.std(Hour, ddof=1)/np.sqrt(len(Hour)))
print(t_statistic)

-35.80631941460788

In [41]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [76]:
scipy.stats.norm.ppf(1-(0.05/2))

1.959963984540054

In [43]:
# Method 2: Use the p-value method.
# Your code here:

In [85]:
pval

4.517831233839447e-273

In [45]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [84]:
stat, pval = ttest_1samp(Hour, popmean = 75, alternative = "two-sided")
print(stat)
print(pval)

-35.80631941460526
4.517831233839447e-273

The statistic value is. lower than null hypothesis, them we reject the H0.

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [46]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [91]:
police_title = data['JobTitle'].apply(lambda x: 'Police' in x)
index = police_title[police_title == True].index
salario = data.loc[index,'TotalPayBenefits']
print(salario)

110534    418019.22
110617    301749.81
110674    289114.95
110712    280222.76
110831    267235.00
            ...
148312       374.42
148409       242.66
148437       212.39
148506       134.78
148561        70.37
Name: TotalPayBenefits, Length: 1901, dtype: float64

In [47]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [93]:
statistic_police = (np.mean(salario) -86000)/ (np.std(salario, ddof=1)/np.sqrt(len(salario)))
print(statistic_police)

50.252984742109916

In [95]:
scipy.stats.norm.ppf(0.95)

1.6448536269514722

In [48]:
# Method 2: Use the p-value method.
# Your code here:

In [98]:
pval

1.0

In [49]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [99]:
stat, pval = ttest_1samp(salario, popmean = 86000, alternative = "less")
print("stat: ", stat)
print("p_value: ",pval)

stat:  50.252984742109945
p_value:  1.0

In this case, the Critical value is higger than the p_value, so we accept the null hypothesis.

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [122]:
# Your code here: (Get the department which has most employees)
department = data['JobTitle'].value_counts().idxmax()
department

'Transit Operator'

In [125]:
department_count = data['JobTitle'].value_counts()
department_count

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Claims Process Clerk               1
Asst Dir, Log Cabin Rnch           1
Media Production Specialist        1
Chf Prob Ofc, Juv Court            1
Electric Motor Repair Sprv 1       1
Name: JobTitle, Length: 996, dtype: int64

In [155]:
department_transit = data[data['JobTitle']=='Transit Operator']
Hour_mean = department_transit['Hourly_Wage']
departmen_employee_mean = Hour_mean.mean()
print("mean: ",departmen_employee_mean )

mean:  43.35949773900775

In [115]:
dept_emp_num =  data.groupby('JobTitle')['EmployeeName'].count()
dept_emp_num

JobTitle
ACPO,JuvP, Juv Prob (SFERS)        1
ASR Senior Office Specialist      22
ASR-Office Assistant              15
Account Clerk                     93
Accountant I                       2
                                  ..
Wire Rope Cable Maint Sprv         1
Worker's Comp Supervisor 1         6
Worker's Compensation Adjuster    26
X-Ray Laboratory Aide             35
Youth Comm Advisor                 1
Name: EmployeeName, Length: 996, dtype: int64

In [110]:
employee = data['EmployeeName'].mode()
employee

0    Steven Lee
Name: EmployeeName, dtype: object

In [100]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,new_total,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550

In [51]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [158]:
statistic_jobTitle= (np.mean(Hour_mean) -35)/ (np.std(Hour_mean, ddof=1)/np.sqrt(len(Hour_mean)))
print(statistic_jobTitle)

19.06499032490655

In [52]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [159]:
scipy.stats.norm.ppf(0.95)

1.6448536269514722

In [160]:
# Method 2: Use the p-value method.
# Your code here:
pval

1.0

In [54]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [161]:
stat, pval = ttest_1samp(Hour_mean, popmean = 35, alternative = "greater")
print("stat: ", stat)
print("p_value: ",pval)

stat:  19.064990324906383
p_value:  5.012771694204206e-76

This stadisctic said us the critical value is in a significance level, so we have to reject the null hypothesis.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [162]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
confidence_interval = 0.95
Hour_mean2 = data['Hourly_Wage']
hourly_wage_wage_mean = Hour_mean2.mean()

police_title = data['JobTitle'].apply(lambda x: 'Police' in x)
index = police_title[police_title == True].index
mean = data.loc[index,hourly_wage_wage_mean]
print(mean)

KeyError: 50.130719334189436

In [164]:
sample_mean = np.mean(Hour_mean2)
sample_mean

50.130719334189436

In [166]:
sample_standard_error = scipy.stats.sem(Hour_mean2) # sem = standard error of the mean = std(mean)/sqrt(samplesize)
sample_standard_error

0.16962218029157494

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [167]:
# Your code here:
confidence_interval_normal = scipy.stats.norm.interval(confidence_interval,  
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval_normal, '.' )

confidence interval is  (49.79826596983879, 50.463172698540085) .

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [169]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,new_total,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550

In [171]:
# Your code here: (Create the function)
def group(x):
    if 'Police' in x:
        return 'Policemen'
    if 'Fire' in x:
        return 'Firemen'
    if 'Med' in x:
        return 'Medical'
    if 'Attorney' in x:
        return 'Lawyer'
    else: 
        return 'Other'

In [172]:
# Your code here: (Apply the function)

In [173]:
data['employee_group'] = data['JobTitle'].apply(group)

In [174]:
data['employee_group'].value_counts()

Other        33759
Policemen     1901
Firemen       1511
Medical        529
Lawyer         419
Name: employee_group, dtype: int64

Determine how many "PT" and "FT" employess have all the employees groups.

In [175]:
# Your code here: (Store the output dataframe into a new variable)
data_crosstab = pd.crosstab(data['employee_group'], data['Status'], margins = False)
data_crosstab

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical           333    196
Other           18821  14938
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [176]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
frequencies = pd.DataFrame()

pandas.core.frame.DataFrame

In [190]:
#x = data['employee_group'].nunique()
#y = data['Status'].nunique()


data['employee_group'].nunique()-1

4

In [191]:
data['employee_group'].unique()

array(['Other', 'Medical', 'Policemen', 'Firemen', 'Lawyer'], dtype=object)

In [199]:
st.chi2.ppf(0.95,df=4)

9.487729036781154

In [ ]:
Status

In [61]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"
#n =1333

In [204]:
firemen_ft =data_crosstab.values[0].sum()/data_crosstab.values.sum()
print(round(firemen_ft,4))

0.0396

In [62]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [206]:
firemen_pt = data_crosstab['PT'].sum()/data_crosstab.values.sum()
print(round(firemen_pt,4))

0.4141

In [63]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [207]:
lawyers_ft = data_crosstab.values[1].sum()/data_crosstab.values.sum()
print(round(lawyers_ft,4))

0.011

In [64]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [208]:
lawyers_pt = (lawyers_ft*firemen_pt)*data_crosstab.values.sum()
print(round(lawyers_pt,4))

173.507

In [65]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [209]:
medical_ft = data_crosstab.values[2].sum()/data_crosstab.values.sum()
print(round(medical_ft,4))

0.0139

In [66]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [67]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [68]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [69]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [70]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [196]:
# Your code here:
data['Status'].nunique()-1

1

In [197]:
data['Status'].unique()

array(['PT', 'FT'], dtype=object)

In [198]:
st.chi2.ppf(0.95,df=1)

3.841458820694124

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [72]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [ ]:
st.chi2_contingency(data_crosstab)

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [194]:
st.chi2_contingency(data_crosstab)

(1088.919545816174,
 1.9093596261039512e-234,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [  309.94218106,   219.05781894],
        [19779.4670899 , 13979.5329101 ],
        [ 1113.79978488,   787.20021512]]))